@model wmbaApp.Models.Player

@{
    wmbaApp.Models.Team team = (wmbaApp.Models.Team)ViewBag.Team;
    <partial name="_TeamDetails" model="team" />
    ViewData["Title"] = ViewData["ControllerFriendlyName"];
}

<hr />
<h2>Add player to team</h2>
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div id="successMessage" class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" name="TeamID" value="@team.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group ">
                <label asp-for="PlyrFirstName" class="control-label required-label"></label>
                <input asp-for="PlyrFirstName" class="form-control" placeholder="Ex: John" />
                <span asp-validation-for="PlyrFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrLastName" class="control-label"></label>
                <input asp-for="PlyrLastName" class="form-control" placeholder="Ex: Doe" />
                <span asp-validation-for="PlyrLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrMemberID" class="control-label required-label"></label>
                <input asp-for="PlyrMemberID" class="form-control" placeholder="Ex: 1ca5f32" />
                <span asp-validation-for="PlyrMemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrJerseyNumber" class="control-label"></label>
                <input asp-for="PlyrJerseyNumber" class="form-control" placeholder="Ex: 12" />
                <span asp-validation-for="PlyrJerseyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-TeamID="@team.ID" type="submit" name="submitButton" value="Add player" class="btn btn-outline-dark deactivate" />
               @*  <input asp-route-TeamID="@team.ID" type="submit" name="submitButton" value="Add player and finish" class="btn btn-outline-dark " /> *@
                <a asp-action="Index" asp-route-TeamID="@team.ID" type="button" class="btn btn-outline-dark ">Back </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            // Function to fade out the success message after 3 seconds (adjust as needed)
            setTimeout(function () {
                $('#successMessage').fadeOut('slow');
            }, 2000); // 3000 milliseconds = 3 seconds

            // Optional: You can also close the success message when clicking on it
            $('#successMessage').click(function () {
                $(this).fadeOut('slow');
            });
        });
    </script>
}