@model wmbaApp.Models.Player

@{
    wmbaApp.Models.Team team = (wmbaApp.Models.Team)ViewBag.Team;
    <partial name="_TeamDetails" model="team" />
    ViewData["Title"] = ViewData["ControllerFriendlyName"];
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }

}

<input type="hidden" name="TeamID" value="@team.ID" />

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlyrFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlyrFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlyrLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlyrLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlyrJerseyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlyrJerseyNumber)
        </dd>
    </dl>
</div>

@* Stats table *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsAB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsAVG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsOBP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsOPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsSLG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsHR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsRBI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsBB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsGP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsAB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsAVG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsOBP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsOPS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsSLG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsHR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsRBI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsBB)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @{
        @if (!User.IsInRole("ScoreKeeper"))
        {
            if (Model.IsActive)
            {
                <a asp-action="Edit" asp-route-id="@Model?.ID" asp-route-TeamID="@team.ID" class="btn  btn-outline-dark">Edit</a>
            }
        }
    }
    <a asp-action="Index" asp-route-TeamID="@team.ID" type="button" class="btn  btn-outline-dark deactivateTeam">Back to players list</a>
</div>

@section scripts{

}