@model IEnumerable<wmbaApp.Models.Player>

@{
    wmbaApp.Models.Team team = (wmbaApp.Models.Team)ViewBag.Team;
    <partial name="_TeamDetails" model="team" />
    ViewData["Title"] = ViewData["ControllerFriendlyName"];
}
<div style="text-align:center;">
    <h2>Active Players</h2>
</div>
<form asp-action="Index" method="get">
    <input type="hidden" name="TeamID" value="@team.ID" />
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <br />
    <div class="form-horizontal">
        <button class="btn btn-center @ViewData["Filtering"] btnFilter" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span></span><span></span><span></span><span></span>
            <p class="filSearch ">Search <i class="fa-solid fa-magnifying-glass"></i> </p>  @ViewData["numberFilters"]
        </button>
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">

                    <div class="col-md-4 activeView">
                        <label class="control-label ">Click to View Inactive Players:</label>
                        <a asp-action="InactiveIndex" asp-route-TeamID="@team.ID" class="btn  btn-outline-dark btn-center view deactivateTeam btn-active-toggle" title="Click to toggle between active and inactive teams">Currently viewing: Active Players</a>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Search by Player Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" id="filterBtn" onclick="change()" />
                        <a asp-action="Index" asp-route-TeamID="@team.ID" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th class="d-none d-lg-table-cell">
                    <input type="submit" name="actionButton" value="Player Full Name" class="non-button-input " />
                </th>
                <th class="d-none d-lg-table-cell">
                    <h5>
                        Jersey Number
                    </h5>
                </th>
                <th style="min-width:120px">
                    @if (!User.IsInRole("ScoreKeeper"))
                    {
                        <a asp-action="Create" asp-route-TeamID="@team.ID" class="btn btn-sm btn-outline-success" role="button" data-bs-toggle="tooltip" title="Add a new player to this team">
                            <strong>Create</strong>
                        </a>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlyrJerseyNumber)
                    </td>
                    <td class="GameCrud">
                        @if (!User.IsInRole("ScoreKeeper"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID" asp-route-TeamID="@team.ID" class="btn btn-sm btn-outline-dark" role="button" data-bs-toggle="tooltip" title="Edit Player">
                                EDIT
                            </a>
                        }
                        <a asp-action="Details" asp-route-id="@item.ID" asp-route-TeamID="@team.ID" class="btn btn-sm btn-outline-dark" role="button" data-bs-toggle="tooltip" title="Player Details">
                            DETAILS
                        </a>
                        @if (!User.IsInRole("ScoreKeeper"))
                        {
                            <a asp-action="MakeInactive" asp-route-id="@item.ID" asp-route-TeamID="@team.ID" class="btn btn-sm btn-outline-dark" role="button" data-bs-toggle="tooltip" title="Deactivate Player">
                                ACTIVE
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
<br />
<br />
<br />
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <script type="text/javascript">
        GenerateContextHelp([
            "<p>This is the Players page for managing player information related to the team.</p>",
            "<p>Clicking the 'Create' button allows you to add a new player to the team.</p>",
            "<p>You can search for players by their name using the search box provided.</p>",
            "<p>The table displays active players with their full name and jersey number. You can click 'EDIT' to modify player details, 'DETAILS' to view player information, and 'ACTIVE' to deactivate a player.</p>",
            "<p>If you want to view inactive players or reactivate a player, click 'Search' and select 'Currently viewing: Active Players' or 'Currently viewing: Inactive Players'.</p>"
        ]);
    </script>
}
