@model IEnumerable<wmbaApp.Models.Coach>
<partial name="_ViewHeading" />

<form asp-action="Index" method="get">
    <table class="table mt-3">
    
    <thead>
            <tr>

                <style>
                    .clickable-header {
                        cursor: pointer;
                        padding: 8px 13px;
                        background-color: #001F3F;
                        color: #fff;
                        border: 1px solid #001F3F;
                        border-radius: 5px;
                        display: inline-block;
                    }

                </style>

                <th class="d-none d-lg-table-cell">
                    <div class="clickable-header">
                        First Name
                    </div>
                </th>

                <th class="d-none d-lg-table-cell">
                    <div class="clickable-header">
                        Last Name
                    </div>
                </th>

                <th class="d-none d-lg-table-cell">
                    <div class="clickable-header">
                        Email
                    </div>
                </th>

                <th class="d-none d-lg-table-cell">
                    <div class="clickable-header">
                        Phone
                    </div>
                </th>

                <th style="min-width:120px">
                    <a asp-action="Create" class="btn btn-sm btn-outline-success" role="button" data-bs-toggle="tooltip" title="Create a new Division Coach">
                        <strong>&#x270D; Create New Coach</strong>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoachFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachPhone)
            </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            &#x270E;
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            &#x1F50E;
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                            &#x274C;
                        </a>
                    </td>
        </tr>
            }     
    </tbody>
</table>
    <partial name="_PagingNavBar" />
</form>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
 
</script>
}