@model wmbaApp.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div id="successMessage" class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TmName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.DivName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd class="col-sm-10">
            @Model.Players.Count()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DivisionCoaches)
        </dt>
        <dd class="col-sm-10">
            @{
                int coachCount = Model.DivisionCoaches.Count;
                if (coachCount > 0)
                {
                    string firstCoach = Model.DivisionCoaches.FirstOrDefault().Coach.FullName;
                    if (coachCount > 1)
                    {
                        string coachList = "";
                        var c = Model.DivisionCoaches.ToList();
                        for (int i = 1; i < coachCount; i++)
                        {
                            coachList += c[i].Coach.FullName + " <br />";
                        }
                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseCoach@(Model.ID)"
                           aria-expanded="false" aria-controls="collapseCoach@(Model.ID)">
                            @firstCoach <span class="badge bg-info">@coachCount</span>
                        </a>
                        <div class="collapse" id="collapseCoach@(Model.ID)">
                            @Html.Raw(coachList)
                        </div>
                    }
                    else
                    {
                        @firstCoach
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
    <div>
        @if (User.IsInRole("Admin") || User.IsInRole("Convenor") || User.IsInRole("Coach"))
        {
            <a asp-action="Edit" class="btn btn-outline-dark" asp-route-id="@Model?.ID">Edit</a>
        }
        <a asp-action="Index" class="btn btn-outline-dark">Back to Teams List</a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Function to fade out the success message after 3 seconds (adjust as needed)
            setTimeout(function () {
                $('#successMessage').fadeOut('slow');
            }, 2000); // 3000 milliseconds = 3 seconds

            // Optional: You can also close the success message when clicking on it
            $('#successMessage').click(function () {
                $(this).fadeOut('slow');
            });
        });
    </script>
}