@using wmbaApp.Utilities;
@model IEnumerable<wmbaApp.Models.Team>
<partial name="_ViewHeading" />



<form asp-action="InactiveIndex" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <br />
    <div class="form-horizontal">
        <button class="btn btn-center @ViewData["Filtering"] btnFilter" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span></span><span></span><span></span><span></span>
            <p class="filSearch ">Search <i class="fa-solid fa-magnifying-glass"></i> </p>  @ViewData["numberFilters"]
        </button>
        <br />
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">

                    <div class="col-md-4 activeView" style="margin-left: 10px;">
                        <label class="control-label">Click to view Inactive Players:</label>
                        <a id="toggleTeams" asp-action="Index" class="btn btn-outline-dark btn-center view deactivateTeam btn-active-toggle" title="Click to toggle between active and inactive teams">
                            <i class="fa-solid fa-toggle-off"></i>
                            Currently viewing: Inactive teams
                        </a>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Filter by Divisions:</label>
                        @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Search by Team Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="InactiveIndex" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div id="successMessage" class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }

    <table class="table mt-3 playerTable">
        <thead>
            <tr>
                <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Team" data-bs-toggle="tooltip" title="Sort Team Name" class="non-button-input" />
                    <i class="fa-solid fa-arrows-up-down arrow non-button-input" id="move"></i>
                </th>


                <!-- Coaches -->
                <th class="d-none d-xxl-table-cell">
                    <h6 class="non-button-input" id="heading">
                        Coaches
                    </h6>
                </th>
                <!-- Division -->
                <th class="d-none d-xxl-table-cell">
                    <input type="submit" value="Division" name="actionButton" class="non-button-input" data-bs-toggle="tooltip" title="Sort Division Name" />
                    <i class="fa-solid fa-arrows-up-down arrow  non-button-input"></i>
                </th>
                <!-- Create New Team -->
                <th style="min-width:120px">
                    @if (User.IsInRole("Admin") || User.IsInRole("Convenor") || User.IsInRole("Coach"))
                    {
                        <a asp-action="Create" class="btn btn-right btn-sm btn btn-outline-dark btnCreateTeam" role="button" data-bs-toggle="tooltip" title="Create a new team">
                            <strong> Create  </strong>
                        </a>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="d-sm-table-cell d-md-table-cell">@Html.DisplayFor(modelItem => item.TmName)</td>
                    <td class="d-none d-xxl-table-cell">
                        @{
                            int coachCount = item.DivisionCoaches.Count;
                            if (coachCount > 0)
                            {
                                string firstCoach = item.DivisionCoaches.FirstOrDefault().Coach.FullName;
                                if (coachCount > 1)
                                {
                                    string coachList = "";
                                    var c = item.DivisionCoaches.ToList();
                                    for (int i = 1; i < coachCount; i++)
                                    {
                                        coachList += c[i].Coach.FullName + " <br />";
                                    }
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapseCoach@(item.ID)"
                                       aria-expanded="false" aria-controls="collapseCoach@(item.ID)">
                                        @firstCoach <span class="badge bg-info" data-bs-toggle="tooltip" title="Number of Coaches">@coachCount</span>
                                    </a>
                                    <div class="collapse" id="collapseCoach@(item.ID)">
                                        @Html.Raw(coachList)
                                    </div>
                                }
                                else
                                {
                                    @firstCoach
                                }
                            }
                        }
                    </td>
                    <td class="d-none d-xxl-table-cell">@Html.DisplayFor(modelItem => item.Division.DivName)</td>
                    <td>
                        <a asp-controller="PlayerTeam" asp-action="Index" asp-route-TeamID="@item.ID" class="btn btn-sm " role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            <span></span><span></span><span></span><span></span>
                            DETAILS
                        </a>
                        @if (!User.IsInRole("ScoreKeeper"))
                        {
                            <a asp-action="MakeActive" asp-route-id="@item.ID" class="btn btn-sm MakeInactive" role="button" data-bs-toggle="tooltip" title="Activate @ViewData["ControllerFriendlyName"]">
                                <span></span><span></span><span></span><span></span>
                                REACTIVATE
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
<div class="clickable-header btn d-none d-lg-block  btn-center">
    <a href="@Url.Action("Index", "Home")">Back</a>
</div>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <script>
        $(document).ready(function () {
            // Function to fade out the success message after 3 seconds (adjust as needed)
            setTimeout(function () {
                $('#successMessage').fadeOut('slow');
            }, 2000); // 3000 milliseconds = 3 seconds

            // Optional: You can also close the success message when clicking on it
            $('#successMessage').click(function () {
                $(this).fadeOut('slow');
            });
        });
    </script>
}