@using wmbaApp.Utilities;
@model IEnumerable<wmbaApp.Models.Team>
<partial name="_ViewHeading" />



<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <br />
    <div class="form-horizontal">
        <button class="btn btn-center @ViewData["Filtering"] btnFilter" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span></span><span></span><span></span><span></span>
            <p class="filSearch ">Search <i class="fa-solid fa-magnifying-glass"></i> </p>  @ViewData["numberFilters"]
        </button>
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">

                    <div class="col-md-4 activeView" style="margin-left: 10px;">
                        <label class="control-label ">Click to View Inactive Teams:</label>

                        <a id="toggleTeams" asp-action="InactiveIndex" class="btn btn-outline-dark btn-center view deactivateTeam btn-active-toggle" title="Click to toggle between active and inactive teams">
                            <i class="fa-solid fa-toggle-off"></i>
                            Currently viewing: Active teams
                        </a>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Filter by Divisions:</label>
                        @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Search by Team Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-dark" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <table class="table mt-3 playerTable">
        <thead>
            <tr>
                <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Team" data-bs-toggle="tooltip" title="Sort Team Name" class="non-button-input" />
                    <i class="fa-solid fa-arrows-up-down arrow non-button-input" id="move"></i>
                </th>


                <!-- Coaches -->
                <th class="d-none d-xxl-table-cell">
                    <h6 class="non-button-input" id="heading">
                        Coaches
                    </h6>
                </th>
                <!-- Division -->
                <th class="d-none d-xxl-table-cell">
                    <div class="flex-container">
                        <input type="submit" value="Division" name="actionButton" class="non-button-input" data-bs-toggle="tooltip" title="Sort Division Name" />
                        <i class="fa-solid fa-arrows-up-down arrow non-button-input"></i>
                    </div>
                </th>

                <!-- Create New Team -->
                <th style="min-width:120px">
                    @if (User.IsInRole("Admin") || User.IsInRole("Convenor") || User.IsInRole("Coach"))
                    {
                        <a asp-action="Create" class="btn btn-right btn-sm btn  btnCreateTeam" role="button" data-bs-toggle="tooltip" title="Create a new team" style=" margin-bottom: -1px; ">
                            <span></span><span></span><span></span><span></span>
                            <strong> Create  </strong>
                        </a>
                    }

                </th>
                <th style="min-width:120px">
                    <div id="customModal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="close" onclick="closeModal()">X</span>
                            <p id="notify" style="margin: 0 20px;">Deleting all teams will also delete all stats games and players.  <br /><br />Click twice to delete .<br> <br><br> </p>
                            <b><p id="required"></p></b>
                            <i></i>
                            <i class="fa-solid fa-triangle-exclamation text-center fa-3x triangle"></i>
                            <i id="error" class="fa-solid fa-xmark fa-f6"></i>
                            <a asp-action="Delete" class="btn btn-center btn-sm  " role="button" data-bs-toggle="tooltip" title="Delete all Teams">
                                <span></span><span></span><span></span><span></span>
                                <strong> Delete </strong>
                            </a>
                        </div>
                    </div>
                  
                </th>
                <th style="min-width:120px">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="#" class="btn btn-sm d-none d-lg-block btnCreateTeam gameCreateBtn createTeam me-2 ml-md-9" role="button" data-bs-toggle="tooltip" title="End of Season" onclick="openModal()" style="width: 200px;">
                            <span></span><span></span><span></span><span></span>
                            <strong>End of Season</strong>
                        </a>

                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="d-sm-table-cell d-md-table-cell">@Html.DisplayFor(modelItem => item.TmName)</td>
                    <td class="d-none d-xxl-table-cell">
                        @{
                            int coachCount = item.DivisionCoaches.Count;
                            if (coachCount > 0)
                            {
                                string firstCoach = item.DivisionCoaches.FirstOrDefault().Coach.FullName;
                                if (coachCount > 1)
                                {
                                    string coachList = "";
                                    var c = item.DivisionCoaches.ToList();
                                    for (int i = 1; i < coachCount; i++)
                                    {
                                        coachList += c[i].Coach.FullName + " <br />";
                                    }
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapseCoach@(item.ID)"
                                       aria-expanded="false" aria-controls="collapseCoach@(item.ID)">
                                        @firstCoach <span class="badge bg-info" data-bs-toggle="tooltip" title="Number of Coaches">@coachCount</span>
                                    </a>
                                    <div class="collapse" id="collapseCoach@(item.ID)">
                                        @Html.Raw(coachList)
                                    </div>
                                }
                                else
                                {
                                    @firstCoach
                                }
                            }
                        }
                    </td>
                    <td class="d-none d-xxl-table-cell">@Html.DisplayFor(modelItem => item.Division.DivName)</td>
                    <td class="alignPlayers">
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Convenor"))
                            {
                                if (!item.HomeGames.Any(g => g.HasStarted) || !item.AwayGames.Any(g => g.HasStarted))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                                        EDIT
                                    </a>
                                }
                            }
                        }
                        <a asp-controller="PlayerTeam" asp-action="Index" asp-route-TeamID="@item.ID" class="btn btn-sm " role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            <span></span><span></span><span></span><span></span>
                            DETAILS
                        </a>
                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Convenor"))
                            {
                                if (!item.HomeGames.Any(g => g.HasStarted) || !item.AwayGames.Any(g => g.HasStarted))
                                {
                                    <a asp-action="MakeInactive" asp-route-id="@item.ID" class="btn btn-sm " role="button" data-bs-toggle="tooltip" title="Deactivate @ViewData["ControllerFriendlyName"]">
                                        <span></span><span></span><span></span><span></span>
                                        ACTIVE
                                    </a>
                                }
                            }
                        }
                      
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
    <a href="@Url.Action("Index", "Home")" class="btn d-none d-lg-block  btn-left btn-outline-dark">Back</a>
</form>

@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <script type="text/javascript">
        GenerateContextHelp([
            "<p>This is the Teams page where you can manage teams and their associated information.</p>",
            "<p>Use the search and filtering options to find specific teams or filter by divisions.</p>",
            "<p>Clicking 'Create' allows you to add a new team.</p>",
            "<p>You can view active teams and their details, edit team information, or make a team inactive if no games or active players are associated with it.</p>",
            "<p>If a team has active players or upcoming games, you'll receive notifications and options to resolve these before deactivating the team.</p>",
            "<p>For deactivating a team with active players, you can choose to deactivate players individually, deactivate games, or deactivate the team along with its players and games.</p>",
            "<P>You can adjust the number of users displayed by clicking on the button below, which indicates the total page count such as '1 of 10'. This feature allows you to navigate between pages by skipping forward or returning to previous pages based on the page number.</p>",
            "<p>Use the search bar to view deactivated teams, games, or players and reactivate them as needed.</p>",
            "<p>Clicking the 'End of Season' button deletes all the teams in the system which then creates and downloads a zip file with excell documents of the deleted teams and all other asscociated data for you.</p>"
        ]);
    </script>
}
