@model wmbaApp.Models.Player

<partial name="_ViewHeading" />

<div>
    <hr />
    @{
        if (Model.PlayerPhoto?.Content != null)
        {
            @:<div>
                string imageBase64 = Convert.ToBase64String(Model.PlayerPhoto.Content);
                string imageSrc = string.Format("data:" + Model.PlayerPhoto.MimeType + ";base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Display Picture of @Model.FullName" title="Display Picture of @Model.FullName" class="img-player" />
            @:</div><hr />
        }
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlyrFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlyrFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlyrLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlyrLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlyrJerseyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlyrJerseyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlyrDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlyrDOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TmName)
        </dd>
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PlayerPositions)
        </dt>
                <dd class="col-sm-10">
                    @{
                        int positionCount = Model.PlayerPositions.Count;
                        if (positionCount > 0)
                        {
                            string firstPosition = Model.PlayerPositions.FirstOrDefault().Position.PosName;
                            if (positionCount > 1)
                            {
                                string positionList = "";
                                var c = Model.PlayerPositions.ToList();
                                for (int i = 1; i < positionCount; i++)
                                {
                                    positionList += c[i].Position.PosName + " <br />";
                                }
                                <a class="" role="button" data-bs-toggle="collapse" href="#collapsePosition@(Model.ID)"
                                   aria-expanded="false" aria-controls="collapsePosition@(Model.ID)">
                                    @firstPosition <span class="badge bg-info">@positionCount</span>
                                </a>
                                <div class="collapse" id="collapsePosition@(Model.ID)">
                                    @Html.Raw(positionList)
                                </div>
                            }
                            else
                            {
                                @firstPosition
                            }
                        }
                    }
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatisticID)
        </dt>
    </dl>
</div>

@* Stats table *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsGP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsAB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsAVG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsOBP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsOPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsSLG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsHR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsRBI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.StatsBB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsGP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsAB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsAVG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsOBP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsOPS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsSLG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsHR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsRBI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Statistics.StatsBB)
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to Players List</a>
</div>