@using wmbaApp.ViewModels
@model wmbaApp.ViewModels.GameScoreKeepingVM

<div id="scoreBar">
    <partial name="_ScoreBar" model="@Model" />
</div>

<div id="BaseballDiamond">
    <partial name="_BaseballDiamond" model="@Model.Innings[Model.CurrentInning]" />
</div>

<div id="InningsTable">
    <partial name="_InningsTable" model="@Model" />
</div>

<input id="gameScoreKeepningJSON" type="hidden" value='@Json.Serialize(Model)' />

@section Scripts{
    <!--Player on base action-->
    <script type="text/javascript">
        AssignClickEvent();
        function AssignClickEvent() {
            $("button[name='playerOnBase']").each(function () {
                $(`#${this.id}`).click(function () {
                    HandlePlayerOnBase(this);
                });
            });
        }
        function HandlePlayerOnBase(sender) {
            //postback
            $.ajax({
                url: "@Url.Action("HandlePlayerOnBase", "ScoreKeeping")",
                data: { inningScoreKeepningJSON: $("#inningScoreKeepingJSON").val(), senderID: `${sender.id}`, senderAction: `${sender.value}` }, //dictionary with same keys as the method's params
                type: "Post",
                success: function (result) {
                    $("#BaseballDiamond").html(""); //reset the div
                    $("#BaseballDiamond").html(result); // set the div to the result of the postback
                    AssignClickEvent();
                },
                error: function (result, status, err) {
                    window.alert(result.responseText + " " + status.responseText, err.Message);
                }
            });
        }
    </script>

    <!--Batter action-->
    <script type="text/javascript">
        function ShowBatterAction() {
            $('#batterActionPrompt').show();
        }
    </script>
}


