@model wmbaApp.Models.Game

<partial name="_ViewHeading" />

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameLocation)
        </dd>
    </dl>
</div>
<<<<<<< HEAD
<<<<<<< HEAD
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-dark">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-dark">Back to Games List</a>
=======
<div style="display: flex;">
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
>>>>>>> 2403aa7 (Updated scorekeeping view and ViewModels. Scorekeeping view not yet completed)
=======
<div style="display: flex;">
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
=======
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-dark">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-dark">Back to Games List</a>
>>>>>>> 29e156e (fixed merged solution issue)
>>>>>>> 3b13cb3 (fixed merged solution issue)
</div>

@section Scripts {
    <script>
        GenerateContextHelp(["<p>This page shows you a game's details.</p>",
            "<p>Click the Back to Games list button to go back to the games list.</p>"]);
    </script>
}