@model IEnumerable<wmbaApp.Models.Coach>

<partial name="_ViewHeading" />

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-center @ViewData["Filtering"] btnFilter" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <span></span><span></span><span></span><span></span>
            <p class="filSearch ">Search <i class="fa-solid fa-magnifying-glass"></i> </p>  @ViewData["numberFilters"]
        </button>
        <br />
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Filter by Teams:</label>
                        @Html.DropDownList("DivisionID", null, "All Divsion", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Filter by Teams:</label>
                        @Html.DropDownList("TeamID", null, "All Teams", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Search Coaches by First/Last Name/Email/Phone:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }

    <table class="table playerTable">
        <thead>
            <tr>
                <th class="d-sm-table-cell d-md-table-cell">
                    <div class="coachName">
                        <div class="flex-container">
                        <input type="submit" name="actionButton" value="Coach Name" class="non-button-input" title="Sort by Full Name" />
                        <i class="fa-solid fa-arrows-up-down arrow non-button-input coachIcon"></i>
                        </div>
                    </div>
                </th>
                <th class="d-none d-lg-table-cell">
                    <h6 class="non-button-input" id="heading">Team</h6>
                </th>
                <th class="d-none d-lg-table-cell">
                    <h6 class="non-button-input" id="heading">Division</h6>
                </th>
                <th style="min-width:120px;  ">
                    <a asp-action="Create" class="btn btn-sm" role="button" style=" margin-bottom: -1px; " data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
                        <span></span><span></span><span></span><span></span>
                        <strong>Create</strong>
                    </a>
                </th>
                <th style="min-width:120px">
                    <div id="customModal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="close" onclick="closeModal()">X</span>
                            <b><p id="notify" style="margin: 0 20px;">Are you sure you want to delete all coaches? <br /><br />If yes, click delete twice.<br /><br><br> </br></p></b>
                            <b><p id="required"></p></b>
                            <i></i>
                            <i class="fa-solid fa-triangle-exclamation text-center fa-3x triangle"></i>
                            <i id="error" class="fa-solid fa-xmark fa-f6"></i>
                            <a asp-action="DeleteAll" class="btn btn-center btn-sm  " role="button" data-bs-toggle="tooltip" title="Delete all Coaches">
                                <span></span><span></span><span></span><span></span>
                                <strong> Delete </strong>
                            </a>
                        </div>
                    </div>
                </th>
                <th style="min-width:120px">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="#" class="btn btn-sm d-none d-lg-block btnCreateTeam gameCreateBtn createTeam me-2 ml-md-9" role="button" data-bs-toggle="tooltip" title="End of Season" onclick="openModal()" style="width: 200px;">
                            <span></span><span></span><span></span><span></span>
                            <strong>End of Season</strong>
                        </a>

                    }
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="d-sm-table-cell d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.DivisionCoaches.FirstOrDefault().Team.TmName)
                    </td>

                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.DivisionCoaches.FirstOrDefault().Division.DivName)
                    </td>
                    <td class="alignPlayers">
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm " role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            <span></span><span></span><span></span><span></span>
                            EDIT
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm " role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            <span></span><span></span><span></span><span></span>
                            DETAILS
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm " role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                            <span></span><span></span><span></span><span></span>
                            DELETE
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
   
        <a href="@Url.Action("Index", "Home")" class="btn d-none d-lg-block  btn-left btn-outline-dark">Back</a>
   
</form>

@section Scripts {
    <script type="text/javascript">
        GenerateContextHelp([
            "<p>This is the coach page, showing the coach's name, team, and division. You can create, edit, or delete coach information using the buttons provided.</p>",
            "<p>Clicking the 'Create' button allows you to add a new coach to the system.</p>",
            "<p>Clicking the 'Edit' button lets you modify the details of an existing coach.</p>",
            "<P>You can adjust the number of coaches displayed by clicking on the button below, which indicates the total page count such as '1 of 10'. This feature allows you to navigate between pages by skipping forward or returning to previous pages based on the page number.</p>",
            "<p>Clicking the 'Delete' button removes a coach from the system. Please use caution when deleting coach records.</p>"
        ]);
    </script>
}

