@using wmbaApp.Utilities;
@model IEnumerable<wmbaApp.Models.DivisionCoach>
<partial name="_ViewHeading" />

<form asp-action="Index" method="get">
    <table class="table mt-3 playerTable">
        <thead>
            <tr>


                <th class="d-sm-table-cell d-md-table-cell">
                    <div >
                        <h5> Division</h5>
                    </div>
                </th>

                <th class="d-sm-table-cell d-md-table-cell">
                    <div >
                        <h5>Coach</h5>
                    </div>
                </th>

                <th class="d-none d-lg-table-cell">
                    <div>
                        <h5> Team</h5>
                    </div>
                </th>

                <th style="min-width:120px">
                    <a asp-action="Create" class="btn btn-sm btn-outline-dark " role="button" data-bs-toggle="tooltip" title="Create a new Division Coach">
                        <strong> Create New Coach</strong>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Division.DivName)
                    </td>
                    <td class="d-sm-table-cell d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.Coach.FullName)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.Team.TmName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DivisionID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            EDIT;
                        </a>
                        <a asp-controller="DivisionCoach" asp-action="Index" asp-route-TeamID="@item.DivisionID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            DETAILS;
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.DivisionID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                            DEACTIVATE;
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
    <a href="@Url.Action("Index", "Home")" class="btn d-none d-lg-block  btn-left btn-outline-dark">Back</a>
</form>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    <script>
        GenerateContextHelp(["<p>This is the division coach page, showing the division coach's name. You can create, edit, or delete division information using the buttons provided.</p>",
            "<p>Clicking the 'Create' button allows you to add a new division coach to the system.</p>",
            "<p>Clicking the 'Edit' button lets you modify the details of an existing division coach.</p>",
            "<P>You can adjust the number of division coach displayed by clicking on the button below, which indicates the total page count such as '1 of 10'. This feature allows you to navigate between pages by skipping forward or returning to previous pages based on the page number.</p>",
            "<p>Clicking the 'Delete' button removes a division from the system. Please use caution when deleting division coach records.</p>"
         ]);
    </script>
}


