@model IEnumerable<wmbaApp.Models.Player>

<partial name="_ViewHeading" />
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
<<<<<<< HEAD
    
    <br />
    <div class="form-horizontal">
        <button class="btn btn-center @ViewData["Filtering"] btnFilter" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <p class="filSearch">Filter/Search <i class="fa-solid fa-magnifying-glass"></i> </p>  @ViewData["numberFilters"]
        </button>
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">

                    <div class="col-md-4 activeView">
                        <label class="control-label ">Click to View Inactive Players:</label>
                        <a asp-action="InactiveIndex" class="btn btn-green btn-outline-dark btn-center view" title="Click to toggle between active and inactive teams">Currently viewing: Active Players</a>
                    </div>

=======
    <a asp-action="InactiveIndex" class="btn btn-green btn-center btn-outline-dark">Currently viewing: Active players</a>
    <br />
    <div class="form-horizontal">
        <button class="btn btn-center @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button>
        <br />
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
>>>>>>> bd393857f4064c2898b737573188121837f79d06
                    <div class="col-md-4">
                        <label class="control-label">Filter by Teams:</label>
                        @Html.DropDownList("TeamID", null, "All Teams", htmlAttributes: new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Search by Player Name/Team Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD


  
    <table class="table">
        <thead>
            <tr>
                <th class="d-sm-table-cell d-md-table-cell">
                    <div class="d-flex align-items-center">
                        <input type="submit" name="actionButton" value="Name" class="non-button-input" data-bs-toggle="tooltip" title="Sort Player Name" />
                        <i class="fa-solid fa-arrows-up-down arrow non-button-input "></i>
                    </div>
                </th>

               
                <th class="d-sm-table-cell d-md-table-cell">
                    <h6 class="non-button-input" id="heading">
                        Team
                    </h6>
                </th>
                <th class="d-none d-lg-table-cell">
                    <h6 class="non-button-input" id="heading">
                        Division
                    </h6>
=======
    <table class="table">
        <thead>
            <tr>


                <style>
                    .clickable-header {
                        cursor: pointer;
                        padding: 8px 13px;
                        background-color: #001F3F;
                        color: #fff;
                        border: 1px solid #001F3F;
                        border-radius: 5px;
                        display: inline-block;
                    }

                    .hover:hover {
                        background-color: #4CBB17;
                        border-color: #001F3F;
                    }

                </style>
                <th class="d-sm-table-cell d-md-table-cell">
                    <input type="submit" name="actionButton" value="Name" class="btn btn-link hover" data-bs-toggle="tooltip" title="Sort Player Name" />
                </th>
                <th class="d-sm-table-cell d-md-table-cell">
                    <h5>
                        Team
                    </h5>
                </th>
                <th class="d-sm-table-cell d-md-table-cell">
                    <h5>
                        Division
                    </h5>
>>>>>>> bd393857f4064c2898b737573188121837f79d06
                </th>
                <th style="min-width:120px">
                    <a asp-action="Create" class="btn btn-sm btn-outline-success" role="button" data-bs-toggle="tooltip" title="Create New @ViewData["ControllerFriendlyName"]">
                        <strong>&#x270D; Create New</strong>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="d-sm-table-cell d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="d-sm-table-cell d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.Team.TmName)
                    </td>
<<<<<<< HEAD
                    <td class="d-none d-lg-table-cell">
=======
                    <td class="d-sm-table-cell d-md-table-cell">
>>>>>>> bd393857f4064c2898b737573188121837f79d06
                        @Html.DisplayFor(modelItem => item.Team.Division.DivName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            EDIT
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            DETAILS
                        </a>
                        <a asp-action="MakeInactive" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="tooltip" title="Deactivate @ViewData["ControllerFriendlyName"]">
<<<<<<< HEAD
                            INACTIVATE
=======
                            DEACTIVATE
>>>>>>> bd393857f4064c2898b737573188121837f79d06
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
<<<<<<< HEAD

<div class="clickable-header">
    <a href="@Url.Action("Index", "Home")">Back</a>
</div>
=======
>>>>>>> bd393857f4064c2898b737573188121837f79d06
<br />
<br />
<br />
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}